# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# temp workaround for wlz's weird data file arrangements
*.pic
*.csv
*.pth
Y_Indice/
*.pkl

#   Codes only for special cases
2.1.0_MRPT_ExportFeatures_DuelSensor_STD.py
2.1.1_MRPT_Sparse_Reconstruction_DualSensor.py